.git
.github
node_modules
coverage
reports
.scannerwork
tests
docs
infra
deploy
scripts
*.md
*.log
.env
.env.*
Jenkinsfile
sonar-project.properties
.trivyignore.yaml
eslint.config.js
jest*.config.js
*.tgz
